.card-1 {
  height: 30%;
  width: 40%;
}

.card-2 {
  width: 50%;
  height: 70%;

}

.card-3 {

}

.image-container {
  height: 20%;
  width: 20%;
}

.tile-1 {
  background: white;
}

.tile-2 {
  background: white;
}

.tile-3 {
  background: white;
}

.krog-andrew {
  border-radius: 100%;
}
