<!-- The layout of this page is built using the mat-grid-list component from Angular's Material design library-->
<!-- <mat-grid-list cols="7" rowHeight="4:7"> -->

  <!-- tile 1(left) -->
  <!-- <mat-grid-tile colspan="3" rowspan="2" class="tile-1"> -->
    <mat-card class="card-1">
      <div class="image-container">
        <img mat-card-image class="krog-andrew" src="./assets/krog-andrew.jpg">
      </div>
      <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </mat-card-content>
      <br>
      <a mat-raised-button routerLink="https://www.linkedin.com/in/andrewdavidcoleman/">Link</a>
      <a mat-raised-button routerLink="https://www.linkedin.com/in/andrewdavidcoleman/">Link</a>
      <a mat-raised-button routerLink="https://www.linkedin.com/in/andrewdavidcoleman/">Link</a>
      <a mat-raised-button routerLink="https://www.linkedin.com/in/andrewdavidcoleman/">Link</a>
    </mat-card>
  <!-- </mat-grid-tile> -->

  <!-- tile 2(right) -->
  <!-- <mat-grid-tile colspan="4" rowspan="2" class="tile-2"> -->
    <mat-card class="card-2">
      Content
    </mat-card>
    <br>
  <!-- </mat-grid-tile> -->

  <mat-card class="card-3">
    <a mat-raised-button routerLink="https://www.linkedin.com/in/andrewdavidcoleman/">Link</a>
  </mat-card>

<!-- </mat-grid-list> -->
