.main-container {
  height: 1000px;
}

.container {
  display: flex;
  flex-direction: column;
}

mat-grid-list {
  height: 1000px;
}

app-about-card {
  flex: 1;
}

app-link-card {
  flex: 1;
}

app-content-card {
  flex: 1;
}
