<mat-card class="about-card">
  <div class="image-container">
    <img mat-card-image class="krog-andrew" src="./assets/krog-andrew.jpg">
  </div>
  <mat-card-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </mat-card-content>
  <br>
  <a mat-raised-button routerLink="https://www.linkedin.com/in/andrewdavidcoleman/">Link</a>
  <a mat-raised-button routerLink="https://www.linkedin.com/in/andrewdavidcoleman/">Link</a>
  <a mat-raised-button routerLink="https://www.linkedin.com/in/andrewdavidcoleman/">Link</a>
  <a mat-raised-button routerLink="https://www.linkedin.com/in/andrewdavidcoleman/">Link</a>
</mat-card>
